.MainSec2 {
    position: relative;
    
}


.Sec2Heading {
    text-align: center;
    font-size: 56px;
    color:#605f5f;
    font-weight: 600;
    line-height: 76px;
}

.Sec2Data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 60px;
    background-color:#FFFFED;
    border: 2px rgb(179, 179, 179);
    box-shadow: 0px 0px 5px 5px #d4cdcd;
}

.Sec2VideoContainer{
    margin:4vw; 
}

.Sec2Image {
    max-width: 700px;
    border-radius: 20px;
    object-fit: cover;
    padding: 10px;
}

.Sec2text > ul {
    padding: 30px;
}
.Sec2text > ul > li{
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color:#605f5f;
}


@media (max-width: 1451px) {

    .Sec2VideoContainer{
        margin:2vw; 
    }
    
    .Sec2Image {
        width: 450px;
        border-radius: 20px;
        object-fit: contain;
    }

    .Sec2text > ul > li{
        font-size: 22px;
        line-height: 38px;
    }
    
    
    /* .Sec2Circle {
        width: 80vw;
        height: 75vw;
        right: -10vw;
        top: -4vw;
    }    */
}

@media (max-width: 1055px) {
    
.Sec2Data {
    display: flex;
    flex-direction: column;
    margin: 50px;
 
}
    .Sec2VideoContainer{
        margin:2vw; 
    }
}

@media (max-width: 605px) {
    .Sec2Image {
        width: 380px;
    }
    .Sec2text > ul > li{
        font-size: 20px;
        line-height: 35px;
    }
}

@media (max-width: 515px) {
    .Sec2Data {
        margin: 30px;
    }
    .Sec2Image {
        width: 330px;
    }
    .Sec2text > ul > li{
        font-size: 20px;
        line-height: 35px;
    }
}

@media (max-width: 430px) {
    .Sec2Data {
        margin: 10px;
    }
    .Sec2Image {
        width: 330px;
    }
    .Sec2text > ul {
        padding: 20px;
    }
    .Sec2text > ul > li{
        font-size: 20px;
        line-height: 35px;
    }
}



